<div class="row" ng-controller="ZNxtAppAdmin.eventDetailsCtrl">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Event details</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="close-link" ng-click="closeDetails()"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p ng-repeat="(key, val) in log"><strong>{{key}}: </strong> {{val}}</p>
                    <p ng-repeat="prop in log.properties"><strong>{{prop.key}}: </strong> {{prop.value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>