{
"ConnectionString" : "mongodb://mvp3:2qFoFbF9rnaG@103.212.120.203:6645/admin?authSource=admin",
"DataBaseName" : "mvp_event",
"ApiGatewayEndpoint" : "",
"SSOUrl" : "http://103.212.120.203:807",
"AppSecret" : "sqaSecret",
"MSSQLConnectionString" : "Server=.\\SQLEXPRESS;Database=TEST;Trusted_Connection=True;",
"TenantServiceBaseUrl" : "http://103.212.120.203:813"
}

