{
"NPGSQLConnectionString" : "Host=103.212.120.203;Username=root;Password=root;Database=engagement_v1",
//"ConnectionString" : "mongodb://mvp3:2qFoFbF9rnaG@103.212.120.203:6645/admin?authSource=admin",
//"DataBaseName" : "mvp_ui",
"WWWRootFolder" :"/wwwroot",
//"AppEndpoint" : "http://localhost:44370",
"ApiGatewayEndpoint" : "",
//"SSOUrl" : "http://localhost:4370",
"AppSecret" : "sqaSecret",
"RelyingPartyUrls" : "",
"MobileRelyingPartyUrls" : "",
"IsSSO" : "false",
"HttpPort" : "44370",
"HttpsPort" : "44373",
"AppName" : "ZNxt App",
"SetOrg" : false,
"StaticFilePath" : "",
"LogLevel" :"Debug,Info,Error",
"AppMode" : "Live",
"UseSpa" : false,
"default_page" : "/index"
}

